
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">Opções da Conta</div>

<div class="row">

    <div class="col-md-12">

        <a href="Edit">Alterar Cadastro</a><span style="padding-left:12px;"></span>
        <a href="ChangePassword">Alterar Senha</a>

    </div>

</div>


