@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="results">

</div>

<div class="page-header">Lançar Placar</div>

<script src="~/Scripts/Admin.js"></script>

<div class="row">

    <div class="col-md-6">
        <div class="pull-left">
            <a id="anterior" data-bind="visible: Index() > 0" href="#">Anterior</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <a id="proximo" data-bind="visible: Index() < (Dias().length - 1)" href="#">Próximo</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <table>
                        <tbody>

                            <!-- ko with: Dia -->
                            <!-- ko foreach: Jogos-->
                                    <tr>
                                        <td>
                                            <span data-bind="css:{'fa fa-bookmark' : Selecionado}" ></span>
                                        </td>
                                    <td>
                                        <div data-bind="attr: {class: Time1().Figura}" />
                                    </td>
                                    <td>
                                        <div class="visible-md visible-lg" data-bind="text: Time1().Nome"></div>
                                        <div class="visible-xs visible-sm" data-bind="text: Time1().Sigla"></div>
                                    </td>
                                    <td>

                                            <input type="number" class="placar" data-bind="value: Gols1"/>
                                            <span>X</span>
                                            <input type="number" class="placar" data-bind="value: Gols2"/>
                                    
                                    </td>
                                    <td>
                                        <div data-bind="attr: {class: Time2().Figura}" />
                                    </td>
                                    <td>
                                        <div class="visible-md visible-lg" data-bind="text: Time2().Nome"></div>
                                        <div class="visible-xs visible-sm" data-bind="text: Time2().Sigla"></div>
                                    </td>
                                    <td>
                                        <div style="padding-left:10px;">
                                        
                                            <a href="#" data-bind="click: Salvar">
                                                <span data-bind="css: StatusSalvamento"></span>
                                            </a>

                                        </div>
                                    </td>
                                </tr>
                            <!-- /ko -->
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3"></div>
            </div>

        </div>
    </div>
</div>

<script>
    $('#anterior').click(function (evt) {

        evt.preventDefault();

        diaAnterior();
    });

    $('#proximo').click(function (evt) {

        evt.preventDefault();

        proximoDia();
    });


    $(function () {

        $("input").click(function () {
            $(this).select();
        });

    })

</script>